.pagination {
    display: flex;
    gap: 8px;
}

.page {
    padding: 4px 10px;
    border: 2px dashed #0081FE;
    font-size: 18px;
}

.page:hover {
    background-color: #d3ebff;
}

.page[aria-selected="true"] {
    border: 2px solid #0081FE;
}