.app {
  max-width: 1200px;
  margin: 0px auto;
  padding: 16px 16px;
}

.alert {
  width: 100%;
  margin-bottom: 12px;
}

.user-table {
  width: 100%;
}

.search {
  margin-bottom: 12px;
  max-width: 1200px;
}

.sortpag {
  display: flex;
  justify-content: space-between;
}
